
//--------------------------------------------------------------MENU Components--------------------------------------------------------

//---------------------------------------------WL Game section-------------------------------------------------------------------------------------------
.HgamesSection{
  width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    position: relative;
    filter: drop-shadow(0 3.61485px 29.4352px rgba(6,6,6,.27));
}
.HgamesSection .title{
    display: flex;
    align-items: flex-end;
    transition: opacity .3s;
    min-height: 45px;
    height: auto;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 15px;
    flex-grow: 1;
    margin-right: 20px;
    width:100%;
    justify-content: space-between;
}
.HgamesSection .navBtnsHolder{
  width:100%;
  height: 30px;
  // border:2px solid red;
  margin: 0;
    position: absolute;
    top: 46%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.HgamesSection .title span{
    color:var(--categoryTitle);
  //color: black;
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'OpenSans-bold';
    font-style: italic;
}
.HgamesSection .BtnsHolder{
    display: inline-flex;
}
.HgamesSection .navBtns{
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryBGcolor);
    margin-left: 10px;
    border-radius: 6px;
    font-size: 2rem;
    font-weight: bold;
   color: var(--textColor);
   cursor: pointer;
}
.HgamesSection .navBtns:hover{
    border: 1px solid var(--primaryColor);
}
.HgamesSection .moreGamesBtn{
    //  width: 100%;
     height: auto;
   //  min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: var(--primaryBGcolor);
  //  border:3px solid #A8DBFF;
  border-radius: 4px;
    margin-right:10px;
    cursor: pointer;

}
.HgamesSection .moreGamesBtn span{
    font-size: 1.2rem;
    font-family: 'OpenSans-Regular';
    font-weight: bold !important;
     color: var(--moreGamesTiyle);
    //color: #099AC1;
    font-style: italic;
text-decoration: underline;
    padding-left: 12px;
    padding-right: 12px;
}
.HgamesSection .moreGamesBtn:hover span{
    // border: 1px solid var(--primaryColor);
    color: #E92284;
}
.home_navBtns{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
     background: var(--NavBtnsColor);
    // background: linear-gradient(90deg, #0F7CBE 0%, #02B9C5 97.85%);
  box-shadow: 0px 3px 0px rgba(10, 95, 131, 0.33);
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
   color: var(--txtBaseColor);
   cursor: pointer;
  }
.disableNavBtn{
  pointer-events: none;
    // opacity: 0.4;
}
.enableNavBtn{
    opacity: 1;
    pointer-events:painted;
}

.cardProps{
    // background-color:var(--secondaryBGcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: .8rem;
    // border: 2px solid red;
    display: inline-flex;
    position: relative;
  }
.eightCard{
    //  width: 12.5%;
     width: 11.5%;
     height: 239px;
     // min-height: auto;
     margin-right: 14px;
     @extend .cardProps;
   
   }
   .sixCard{
     //  width : 16.6666667%; 
      width: 15.6%;
     //width : 16.6%;to show last card little using below width
     height: 319px;
     margin-right: 14px;
     // min-height: auto;
   
     @extend .cardProps;
   }
   .fiveCard{
     // min-height: auto;
     //  width: 20%;
     width: 19%;
     //width: 19.9%;
     height: 250px;
     margin-right: 14px;
     @extend .cardProps;
   }
   .fourCard{
     // width: 25%;
     width: 24%;
     // width: 24.9%;
     min-width: 280px;
     // height: 360px;
     height: 405px;
     // min-height: auto;
     margin-right: 14px;
     @extend .cardProps;
   }
   
.HgamesSection .MitemsHolder{
    padding: 2px;
    width: 100%;
    height: auto;
    min-height: 200px;
    // overflow-x: scroll;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: 4px;
}






//-----------------------------------------------------------Media Quries-----------------------------------


@media (max-width: 1370px) {
    .HgamesSection .title span{font-size: 1.4rem;}
    .eightCard{width: 12.5%;height: 17.5vw;}
    .sixCard{  height: 23.5vw;}
    .fiveCard{  width: 18.5%;height: 20vw;}
    .fourCard{  width: calc(20% - 14px);height: 28vw;}
  
  }
  
  @media (max-width: 1024px) {
    .fiveCard{  width: 30%;height: 26vw;}
    .fourCard{  width: calc(25% - 14px);height: 33vw;}
    .HgamesSection .title{
      margin-bottom: 10px;
  }
    .HgamesSection .title span{font-size: 16px !important;}
    .HgamesSection .moreGamesBtn {padding-left: 10px;font-size: 14px;}
    .home_navBtns{display: none;}

    .HgamesSection .MitemsHolder{
      min-height: 185px;
      margin-bottom: 0.5rem;
  }

  }
@media (max-width: 900px){
    .fiveCard{width: 33.33%;}
 }
    
  @media (max-width: 880px){
      .HgamesSection .title span{font-size: 16px !important;}
     .eightCard{width: 14.28571429%;height: 20.51357733vw;}
    
    // .sixCard {width: 16.66666667%;
    //   height: 319px;}
    .sixCard{
      width: 16.66666667%;
        height: 23.93250689vw;
        // width = 100% / display items length
        // height = width / 2.2
    }
    // .fiveCard {width: 32.5%;height: 28vw;}
    .fourCard {width: calc(25% - 14px);height: 38vw;}
    
    
    }
    
    @media (max-width: 770px){
      .eightCard{width: 16.66666667%;height: 23.74393283vw;}
      // .sixCard{width: 18.5%;height: 28.5vw;}
      .sixCard{
        width: 20%;
        height: 28.4927194vw;
      }
      .fiveCard{width: 30.5%;height: 28.5vw;}
      .fourCard{width: calc(25% - 14px);height: 45vw;}
    
    }
    
    @media (max-width: 680px){
    .fiveCard{
      width: 50%;
      min-height: 0;
      max-width: 100%;
    }
    }
    
    @media (max-width: 660px){
    
    .eightCard{
      width: 20%;
      height: 28.19100092vw;
      }
    
      // .sixCard{  width: 25%;height: 35vw;}
      .sixCard{
        width: 25%;
        height: 35.23875115vw;
      }
      // .fiveCard{   width: 45%;height: 35vw}
      .fourCard{  width: calc(25% - 14px);height: 48vw;}
    }
    
    @media (max-width: 550px){
    
      .eightCard{
        width: 25%;
        height: 34.7107438vw;
        }
    
    // .sixCard {width: 33%;height: 46vw;}
    .sixCard{
      width: 33.33333333%;
      height: 46.28099174vw;
    }
    // .fiveCard {width: 50%;height: 35vw;}
    .fourCard {width: calc(25% - 14px);height: 80vw;}
    }
    
    
    @media (max-width: 440px){
      .eightCard{
        width: 33.33333333%;
        height: 45.22497704vw;
        }
    .sixCard {width: 33.33333333%;height: 45.22497704vw;}
    // .fiveCard {width: 70%;height: 55vw;}
    
    }
    
    @media (max-width: 330px){
     
      .eightCard{
        width: 50%;
        height: 65.19742883vw;
        }
      // .sixCard{width: 50%;height: 65vw;}
      .sixCard{
        max-width: 140px;
        min-width: 140px;
        max-height: 215px;
        min-height: 215px;
      }
      // .fiveCard{width: 80%;height: 65vw;}
    }
    
    @media (max-width: 220px){
    
    .sixCard{
      max-width: 140px;
      min-width: 140px;
      max-height: 215px;
      min-height: 215px;
    }
    // .fiveCard{
    //   max-width: 140px;
    //   min-width: 140px;
    //   max-height: 215px;
    //   min-height: 215px;
    // }
    }
    
    @media (max-width: 220px){
      .eightCard {
        width: 100%;
        height: 119vw;
    }
    .fiveCard {
      width: 100%;
      height: 119vw;
    }
    
    }
    
    




//______________________________________________________END_____________________________________________________________


